@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    /* margin: 0; */
    padding: 0;
    letter-spacing:1px;
    /* border: 1px solid #000; */
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom:0;
    align-items: center;
}

.title {
    letter-spacing:1px;
    font-size: 2em;
    margin-top: 10px;
    margin-left: 5%;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 12%;
    align-items: end;
}

.navlink {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.navlink:hover {
    text-decoration: underline;
}

.bigcontainer {
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content:center;
    height: 450px;
    align-items: center;
}

.image {
    border: 1px solid #000;
    height: 236px;
    width: 214px;
    border-radius: 5px;
}

.container {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
    align-items: center;
}

.result {
    /* border: 1px solid #000; */
    letter-spacing:1px;
}

.start-button {
    display: flex;
    justify-content:center;
    height: 40px;
    margin-top: 5%;
}

.btn:hover {
    box-shadow: 1px 2px 10px 1px #222831;
    transition: all 0.1s ease;
    cursor: pointer;
}

.btn {
    height: 100%;
    font-weight: bold;
    letter-spacing:1px;
    font-size:  17px;
    border-radius: 3px;
    border:0;
    padding: 5px 10px;
}

.btn1 {
    height: 100%;
    font-weight: bold;
    letter-spacing:1px;
    font-size:  17px;
    border-radius: 3px;
    border:0;
    padding:0px 10px;
}

.btn1:hover {
    box-shadow: 1px 2px 10px 1px #222831;
    transition: all 0.1s ease;
    cursor: pointer;
}

.select {
    justify-content:center;
    display: flex;
    height: 50px;
    gap: 10%;
    width: 100%;
}